<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ResultOutput</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h2>Results</h2>
    {% if results %}
    <table border="1">
        <thead>
            <tr>
                <th>Entry Date</th>
                <th>Exit Date</th>
                <th>Entry Time</th>
                <th>Exit Time</th>
                <th>Time Frame</th>
                <th>Symbol</th>
                <th>Position Type</th>
                <th>Date</th>
                <th>Entry Price</th>
                <th>Exit Price</th>
                <th>PnL</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.entry_data }}</td>
                <td>{{ result.exit_data }}</td>
                <td>{{ result.entry_time }}</td>
                <td>{{ result.exit_time }}</td>
                <td>{{ result['Time Frame'] }}</td>
                <td>{{ result.Symbol }}</td>
                <td>{{ result['Position Type'] }}</td>
                <td>{{ result.Date }}</td>
                <td>{{ result.Entry_Price }}</td>
                <td>{{ result.Exit_Price }}</td>
                <td>{{ result.PnL }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if log_messages %}
    <h3>Debug Logs</h3>
    <pre style="background:#111; color:#0f0; padding:10px; border-radius:6px;">
    {{ log_messages|join('\n')|safe }}
    </pre>
    {% endif %}

    {% if pnl_chart %}

    <h3>PNL Trend</h3>
    <canvas id="pnlChart" width="800" height="300"></canvas>

    <script>
    const chartdata = {{ pnl_chart | tojson | safe }};
    console.log("chart Data: ", chartdata);

    const labels = chartdata.labels;
    const values = chartdata.pnl;

    if (labels.length > 0 && values.length > 0) {
        new Chart(document.getElementById('pnlChart'), {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'PnL',
                    data: values,
                    borderColor: 'orange',
                    fill: false
                }]
            }
        });
    } else {
        console.log("No chart data to display");
    }
    </script>


    {% endif %}
    <div>
        <a href="/entry_exit">Back to Entry Exit Simulation</a><br>
        <a href="/">Home</a>
    </div>
</body>

</html>